# Core framework
Django==4.2.25

# WebSocket support for Django (ASGI-compatible)
channels==4.3.1
daphne==4.2.1

# rest framework
rest_framework==3.16.1

# cors cross origin
django-cors-headers==4.9.0